{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static 'IMG/favicon.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food - Le Cusiner</title>
    <link rel="stylesheet" href="{% static 'CSS/food.css' %}?v=4">
</head>

<body>
    <!-- --------------------HEADER--------------- -->
    <header id="back">
        <div class="box">
            <div class="box-logo">
                <a href="{% url 'landing' %}"><img id="im" src="{% static 'IMG/IMG-HOME/logo-fix.png' %}" alt="logo"></a>
            </div>
            <div class="box-page">
                <div class="page-home">
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div class="page-search">
                    <a href="{% url 'searchfood' %}">Search</a>
                </div>
                <div class="page-tip">
                    <a href="">Tips</a>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------SCROLL NAVBAR---------------------------->
    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("back").style.height = "60px";
                document.getElementById("im").style.width = "80%";
                document.getElementById("im").style.height = "80%";
            } else {
                document.getElementById("back").style.height = "75px";
                document.getElementById("im").style.width = "90%";
                document.getElementById("im").style.height = "90%";
            }
        }
    </script>
    <!-- ----------------------------------------------------------------------- -->
    <!-- -----------BODY------------- -->
    {% for food in foods %}
    <section>
        <div class="main">
            <div class="main-text">
                <div class="main-text-1">
                    <p class="text-1">{{ food.name }}</p>
                    {% for type in food.ings2.all %}
                    <p class="text-2">{{ type.name }}</p>
                    {% endfor %}
                    <p class="text-3">{{ food.introduce }}</p>
                </div>
                <div class="main-text-2">
                    <div class="ingredients">
                        <p class="number">{{ food.number_of_ingredients }}</p>
                        <p class="intro">Ingredients</p>
                    </div>
                    <div class="minute">
                        <p class="number">{{ food.time }}</p>
                        <p class="intro">minutes</p>
                    </div>
                    <div class="calories">
                        <p class="number">{{ food.calo }}</p>
                        <p class="intro">Calories</p>
                    </div>
                </div>
            </div>
            <div class="main-img">
                {% for food in foods %}
                <img src="{{food.picture.url}}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="main-2">
            <div class="ingredient">
                <p class="head">Ingredients</p>
                <div class="list">
                    {% for food in foods %}
                        {% for ingredient in food.ings1.all %}
                        <div class="item">
                            <!-- Circle -->
                            <div class="circle"></div>
                            <!-- Text -->
                            {% for tat in food.ingredient.all %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                <p class="text"> {{ tat.amount }} {{ ingredient.measure }} {{ ingredient.name }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}  
                </div>
            </div>
            <div class="directions">
                <p class="head">Directions</p>
                {% for about in food.ings3.all %}
                <div class="step">
                    <p class="head">{{ about.name }}</p>
                    <p class="info">{{ about.step }}</p>
                    <img src="{{ about.picture.url }}" class="TAT">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
    <!-- ----------ADVERTISING---------- -->
    <div class="advertising">
        Ad
    </div>

    <!-- ----------Section About---------- -->
    <div class="section-6">
        <div class="head-tile">
            <p>MADE BY:</p>
        </div>
        <div class="member">
            <div class="item">
                <div class="box-avt">
                    <img src="{% static 'IMG/mrtoan.jpg' %}" alt="avt">
                </div>
                <div class="info">
                    <p>MrToan</p>
                </div>
                <div class="inf-mini">
                    <p>Teacher</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{% static 'IMG/Toan.jpg' %}" alt="avt">
                </div>
                <div class="info">
                    <p>Toan</p>
                </div>
                <div class="inf-mini">
                    <p>Front-end</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{% static 'IMG/thang.jpg' %}" alt="avt">
                </div>
                <div class="info">
                    <p>Thang</p>
                </div>
                <div class="inf-mini">
                    <p>Back-end</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------Footer--------------- -->
    <footer>
        <img src="{% static '/IMG/IMG-HOME/thankyou.png' %}" alt="footer">
    </footer>
</body>