<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='IMG/favicon.png')}}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food - Le Cusiner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/food.css') }}">
</head>

<body>
    <!----------------------HEADER----------------->
    <header id="back">
        <div class="box">
            <div class="box-logo">
                <a href="{{url_for('landing')}}"><img id="im" src="{{ url_for('static', filename='IMG/IMG-HOME/logo-fix.png') }}" alt="logo"></a>
            </div>
            <div class="box-page">
                <div class="page-home">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="page-search">
                    <a href="{{ url_for('searchfood')}}">Search</a>
                </div>
                <div class="page-tip">
                    <a href="">Tips</a>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------SCROLL NAVBAR---------------------------->
    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("back").style.height = "60px";
                document.getElementById("im").style.width = "80%";
                document.getElementById("im").style.height = "80%";
            } else {
                document.getElementById("back").style.height = "75px";
                document.getElementById("im").style.width = "90%";
                document.getElementById("im").style.height = "90%";
            }
        }
    </script>
    <!--------------------------------------------------------------------------->
    <!-------------BODY--------------->
    <section>
        <div class="main">
            <div class="main-text">
                <div class="main-text-1">
                    <p class="text-1">Lady Baltimore Cake</p>
                    <p class="text-2">Dessert</p>
                    <p class="text-3">The wonderfully tasty white layer cake
                        with fluffy frosting and a fruit-and-nut filling.</p>
                </div>
                <div class="main-text-2">
                    <div class="ingredients">
                        <p class="number">10</p>
                        <p class="intro">Ingredients</p>
                    </div>
                    <div class="minute">
                        <p class="number">80</p>
                        <p class="intro">minutes</p>
                    </div>
                    <div class="calories">
                        <p class="number">1000</p>
                        <p class="intro">Calories</p>
                    </div>
                </div>
            </div>
            <div class="main-img">
                <img src="/static//IMG/IMG-HOME/section4-food.png" alt="">
            </div>
        </div>
        <div class="main-2">
            <div class="ingredient">
                <p class="head">Ingredients</p>
                <div class="list">
                    <div class="item">
                        <!--Circle-->
                        <div class="circle"></div>
                        <!--Text-->
                        <p class="text">Ingredient 1</p>
                    </div>
                    <div class="item">
                        <!--Circle-->
                        <div class="circle"></div>
                        <!--Text-->
                        <p class="text">Ingredient 2</p>
                    </div>
                    <div class="item">
                        <!--Circle-->
                        <div class="circle"></div>
                        <!--Text-->
                        <p class="text">Ingredient 3</p>
                    </div>
                    <div class="item">
                        <!--Circle-->
                        <div class="circle"></div>
                        <!--Text-->
                        <p class="text">Ingredient 4</p>
                    </div>
                    <div class="item">
                        <!--Circle-->
                        <div class="circle"></div>
                        <!--Text-->
                        <p class="text">Ingredient 5</p>
                    </div>
                </div>
            </div>
            <div class="directions">
                <p class="head">Directions</p>
                <div class="step">
                    <p class="head">Step 1</p>
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="step">
                    <p class="head">Step 2</p>
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="step">
                    <p class="head">Step 3</p>
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ----------ADVERTISING---------- -->
    <div class="advertising">
        Ad
    </div>

    <!-- ----------Section About---------- -->
    <div class="section-6">
        <div class="head-tile">
            <p>MADE BY:</p>
        </div>
        <div class="member">
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/mrtoan.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>MrToan</p>
                </div>
                <div class="inf-mini">
                    <p>Teacher</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/Toan.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>Toan</p>
                </div>
                <div class="inf-mini">
                    <p>Front-end</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/thang.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>Thang</p>
                </div>
                <div class="inf-mini">
                    <p>Back-end</p>
                </div>
            </div>
        </div>
    </div>
    <!-------------------Footer----------------->
    <footer>
        <img src="{{ url_for('static', filename='/IMG/IMG-HOME/thankyou.png') }}" alt="footer">
    </footer>
</body>