<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='IMG/favicon.png')}}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - Le Cusiner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/search-food.css')}}">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <!----------------------HEADER----------------->
    <header id="back">
        <form class="box">
            <label class="box-logo">
                <a href="{{url_for('landing')}}"><img id="im"
                        src=" {{ url_for('static', filename='IMG//IMG-SEARCH/logo.png') }}" alt="logo"></a>
            </label>
            <label class="box-page">
                <div class="page-home">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="page-search">
                    <a href="{{ url_for('searchfood')}}">Search</a>
                </div>
                <div class="page-tip">
                    <a href="">Tips</a>
                </div>
            </label>
        </form>
    </header>
    <!----------------------------------SCROLL NAVBAR---------------------------->
<script>
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("back").style.height = "60px";
            document.getElementById("im").style.width = "80%";
            document.getElementById("im").style.height = "80%";
        } else {
            document.getElementById("back").style.height = "75px";
            document.getElementById("im").style.width = "90%";
            document.getElementById("im").style.height = "90%";
        }
    }
</script>
<!--------------------------------------------------------------------------->
    <!-------------BODY--------------->

    <section>
        <form action="">
            <label for="">
                <input class="search" type="text" placeholder="Enter name">
                <input class="btn-search" type="submit" value="Search">
            </label>
            <!-- <input id="btn-open" type="submit" value="Recipe-Generator" class="recipe" onclick="openPopup()">
            -->
            <div class="recipe" id="btn-open">Recipe-Generator</div>
        </form>
    </section>

    <div class="divide"></div>
    <!----------------POP UP------------------>
    <div id="bg">
        <div id="container">
            <div class="headtile">
                <p class="head">Recipe-Generator</p>
                <i style="cursor: pointer;" id="btn-close" class="fa-solid fa-xmark"></i>
            </div>
            <div class="box">
                <div class="box-1">
                    <input type="text" name="search" id="search" placeholder="Enter ingredient">
                    <div class="add-img" id="addImage">
                        <!---img-->
                        <div class="image-preview" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview__image">
                        </div>
                        <!---------->
                        <div class="text" id="textt">
                            <p class="mini-text">
                                Or, you can try using our powerful
                                ingredient detector powered by AI Dectec
                            </p>
                        </div>
                        <!--default html file upload button-->
                        <input type="file" name="inpFile" id="inpFile" hidden />
                        <!--our custom file upload button-->
                        <label for="inpFile" id="custom-btn" onclick="defaultBtnActive()">
                            <i class="fa-regular fa-image"></i>
                            Upload File
                        </label>
                    </div>
                    <!------------------------------------------->
                </div>
                 <!---------------------------SCRIP IMG---------->
                 <script>
                    const addImage = document.getElementById("addImage");
                    const search = document.getElementById("search")
                    const upload = document.getElementById("custom-btn");
                    const textt = document.getElementById("textt");
                    const inpFile = document.getElementById("inpFile");
                    const previewContainer = document.getElementById("imagePreview");
                    const previewImage = previewContainer.querySelector(".image-preview__image");
                    inpFile.addEventListener("change",function(){
                    
                        const file=this.files[0];
                        if(file){
                            const reader = new FileReader();
                            upload.display = "none";
                            textt.style.display="none";
                            previewContainer.style.display="block";
                            previewImage.style.display="block";
                            search.style.display="none";
                            addImage.style.height="500px"
                            reader.addEventListener("load",function(){
                            console.log(this)
                            previewImage.setAttribute("src",this.result);
                        });
                        reader.readAsDataURL(file);
                        }
                    });
                </script>
                <div class="box-2">
                    <div class="head-2">
                        <div class="chosen-ingredient">
                            <i class="fa-solid fa-list-ul"></i>
                            Chosen Ingredients
                        </div>
                        <div class="clear-all">
                            Clear all
                        </div>
                    </div>
                    <div class="list-add">
                        <label class="ctype-box">
                            <input type="checkbox" name="" id="">
                            <span class="checkmark">
                                <div></div>
                                <p>Lorem ipsum</p>
                            </span>
                        </label>
                        <label class="ctype-box">
                            <input type="checkbox" name="" id="">
                            <span class="checkmark">
                                <div></div>
                                <p>Lorem ipsum</p>
                            </span>
                        </label>
                    </div>
                    <button>
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg width="16" height="12" viewBox="0 0 16 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 12L8.6 10.55L12.15 7H0V5H12.15L8.6 1.45L10 0L16 6L10 12Z"
                                        fill="#0F5152" />
                                </svg>
                            </div>
                        </div>
                        <span>Find Recipes</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        const btn_open = document.getElementById('btn-open');
        const btn_close = document.getElementById('btn-close');
        const bg = document.getElementById('bg');
        btn_open.addEventListener('click', () => {
            //SHOW
            bg.classList.add('show');
        });
        btn_close.addEventListener('click', () => {
            //HIDE
            bg.classList.remove('show');
        });  
    </script>
    <!---------------------SECION -MAIN------------------------------------>
    <div class="section-2">
        <!-- left -->
        <form class="left">
            <!-- -----Meal type----- -->
            <div class="left-type">
                <p>Meal type: </p>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Dessert</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Main Dish</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Side Dish</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Beverage</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Appetizer</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>Breakfast</p>
                    </span>
                </label>
            </div>
            <!-- -----Calories----- -->
            <div class="left-type">
                <p>Calories: </p>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>
                            < 200</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>200 - 400</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>400 - 600</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>> 600</p>
                    </span>
            </div>
            <!-- -----Time------ -->
            <div class="left-type">
                <p>Time: </p>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>0 - 15m</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>15 - 30m</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>30 - 45m</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>45 - 60m</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>1h - 1h30</p>
                    </span>
                </label>
                <label class="left-type-box">
                    <input type="checkbox" name="" id="">
                    <span class="checkmark">
                        <div></div>
                        <p>> 1h30</p>
                    </span>
                </label>
            </div>
            <!-- -----Apply filter----- -->
            <label class="apply">
                <input type="submit" value="Apply filter">
            </label>
        </form>
        <!-- right -->
        <div class="right">
            <div class="top">
                <p>144 results for “Ma”</p>
            </div>
            <div class="bottom">
                <a class="element" href="{{ url_for('food') }}">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>

                <a class="element" href="">
                    <!-- img -->
                    <div-1></div-1>
                    <!-- -->
                    <div>
                        <div-2>8 ingredients</div-2>
                        <div-3>Stuffed Honeynut Squash</div-3>
                        <div-4>
                            <div-5>Appetizer</div-5>
                            <div-5>1h 30 mins</div-5>
                            <div-5>420 calo</div-5>
                        </div-4>
                    </div>
                </a>
            </div>

            <div class="loadmore">
                <button class="btn">
                    <div>Load More</div>
                    <img src="{{ url_for('static', filename='/IMG/IMG-SEARCH/loadmore.png')}}" alt="">
                </button>
            </div>
            <!-- script -->
            <script>
                var wraper = document.querySelectorAll('.element');
                var btn = document.querySelector('.btn');
                var currentimg = 12;
                btn.addEventListener('click',
                    function () {
                        for (var i = currentimg; i < currentimg + (wraper.length - 12); i++) {
                            if (wraper[i]) {
                                wraper[i].style.display = 'flex';
                                wraper[i].style.flexDirection = 'column';
                            }
                        }
                        currentimg += Math.max(12, wraper.length - currentimg);
                        if (currentimg >= wraper.length) {
                            event.target.style.display = 'none';
                            btn.style.display = 'none';
                        }
                    });
            </script>
        </div>
    </div>

    <!-- ----------ADVERTISING---------- -->
    <div class="advertising">
        Ad
    </div>

    <!-- ----------Section About---------- -->
    <div class="section-6">
        <div class="head-tile">
            <p>MADE BY:</p>
        </div>
        <div class="member">
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/mrtoan.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>MrToan</p>
                </div>
                <div class="inf-mini">
                    <p>Teacher</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/Toan.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>Toan</p>
                </div>
                <div class="inf-mini">
                    <p>Front-end</p>
                </div>
            </div>
            <div class="item">
                <div class="box-avt">
                    <img src="{{url_for('static',filename='IMG/thang.jpg')}}" alt="avt">
                </div>
                <div class="info">
                    <p>Thang</p>
                </div>
                <div class="inf-mini">
                    <p>Back-end</p>
                </div>
            </div>
        </div>
    </div>
    <!-------------------Footer----------------->
    <footer>
        <img src="{{ url_for('static', filename='/IMG/IMG-HOME/thankyou.png') }}" alt="footer">
    </footer>
</body>